#console {
    border: 2px inset grey;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    padding: 2px;
    width: 50%;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}