<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>BurnerMate - Subtitle Burner</title>
  </head>
  <body>
    <div class="download-container">
      <h1>Hurray!</h1>
      <h2>Your video is ready</h2>
      <video width="320" height="240" controls><source src="{{dataUrlPlaceholder}}" type="video/mp4"></video> 
      <a class="download-btn" class="white-text" download href="{{dataUrlPlaceholder}}"> Download</a>
    </div>
  </body>
</html>
