<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>BurnerMate - Subtitle Burner</title>
  </head>
  <body>
    <div class="download-container">
      <h1>Hurray!</h1>
      <h2>Your video is ready</h2>
      <img src="../public/download-image.svg" alt="Video">
      <a class="download-btn" class="white-text" download href="{{dataUrlPlaceholder}}"> Download</a>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="./public/token.js"></script>
  </body>
</html>
