<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- favicon start -->
        <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../public/apple-touch-icon.png">
        <link rel="shortcut icon" href="../public/favicon.png">
        <link rel="icon" href="../public/favicon.png">
        <meta property="og:image" content="../public/favicon.png">
        <meta name="twitter:image" content="../public/favicon.png">
        <meta property="og:title" content="SubtitleRush - Auto-Generate Subtitles for Videos">
        <meta property="og:description" content="Auto-generate subtitles and burn them to your video. Fast, free, no email required.">
        <meta property="og:url" content="https://www.subtitlerush.com">
        <meta property="og:site_name" content="SubtitleRush">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@SubtitleRush">
        <meta name="twitter:title" content="SubtitleRush - Auto-Generate Subtitles for Videos">
        <meta name="twitter:description" content="Auto-generate subtitles and burn them to your video. Fast, free, no email required.">
        <meta name="twitter:url" content="https://www.subtitlerush.com">
        <meta property="og:type" content="website">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <!-- favicon end -->
        <link rel="stylesheet" href="../public/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Auto-generate subtitles and burn them to your video. Fast, free, no email required. SubtitleRush lets you add subtitles to videos easily.">
        <meta name="keywords" content="subtitles, video, automatic subtitles, burn subtitles, subtitle generator, mp4">
        <meta name="author" content="Kuma Web Creations">
        <meta name="robots" content="index, follow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Error - SubtitleRush</title>
    </head>
    <body>
        <span>BurnerMate</span>
        <div class="error" id="error">
            Uh Oh
            <br>
            Something went wrong
            <br>
            <a href="/">Go back to home</a>
        </div>
        <footer><p>Copyright &copy; 2023 Kuma Web Creations</p><a href="https://wearekuma.com" target="_blank"><img src="../public/kuma-logo.png" alt="Kuma Web Creations"></a></footer>
    </body>
</html>