<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Subtitler</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="post" action="./subtitle" enctype="multipart/form-data">
            <input type="hidden" name="token">
            <input id="file" type="file" name="video" accept="video/mp4">
            <button type="reset">Reset</button>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>